body{
   
    
}
section{
    border: 0px solid green;
    height: 100vh;
    position: relative;
}
.center{
    width: 200px;
    border: 0px solid red;
    height: 200px;
    background-color: #0D5903;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
h3{
    text-align: center;
    color: #fff;
    font-size: 40px;

}